html {
  color: white;
  background-color: #09343e;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Fira Mono";
}
::selection {
  opacity: 1;
  background-color: rgba(71, 166, 255, 0.38);
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #6bd3af;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

button:hover {
  border-color: #646cff;
  background-color: #4f9c82;
}

footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10px;
}
footer a {
  color: rgb(205, 205, 205);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
footer a:hover {
  color: rgb(181, 181, 181);
}
