---
import "@fontsource/fira-mono/index.css";
import "bootstrap-icons/font/bootstrap-icons.min.css"
import "../assets/static.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>吳元皓</title>
  </head>
  <body>
    <slot />
    <footer>
      Made with {Astro.generator}
    </footer>
  </body>
</html>
